<md-toolbar color="primary">
    <h1><a routerLink='/'>
      {{title}}
    </a></h1>
</md-toolbar>

<button md-raised-button color="accent" routerLink="/friends">Friends</button>
<button md-raised-button color="accent" routerLink="/followers">Followers</button>
<button md-raised-button color="accent" routerLink="/timeline">Timeline</button>
<button md-raised-button color="accent" routerLink="/forum">Forum</button>
<button md-raised-button color="accent" [routerLink]="['/profile', 'Karen Freeman-Smith']">Profile</button>

<router-outlet></router-outlet>